{% extends 'main.html' %}
{% load static  %}

{% block content %}
<style>
    .maincontainer {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
</style>
<div class="maincontainer">
    <div class="layout__boxTitle" style="margin-bottom: 2%;">
        <a href="{% url 'user-profile' request.user.id %}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                    d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
            </svg>
        </a>
        <h3>Back To Profile</h3>
    </div>
    
    <a href="{% url 'upload_document' %}">Upload Document</a>
    <h2 style="margin-bottom: 2%;">Document List</h2>

    <h3>Public Documents:</h3>
    {% for document in public_documents %}
    <div class="roomListRoom">
        <div class="roomListRoom__header">
            <a href="{% url 'user-profile' document.user.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                    <img src="{% static 'images\avatar.svg' %}" />
                </div>
                <span>@{{ document.user.username }}</span>
            </a>
            <div class="roomListRoom__actions">
                <span>{{ document.uploaded_at|timesince }}</span>
            </div>
        </div>
        <div class="roomListRoom__content">
            <a href="{{ document.file.url }}" target="_blank" download="{{ document.file.name }}">
                {{ document.file.name }}
            </a>
            <p>{{ document.description }}</p>
        </div>
        <div class="roomListRoom__meta">
            <a href="{{ document.file.url }}" class="roomListRoom__joined">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>file</title>
                    <!-- Add the appropriate path for the file icon here -->
                </svg>
                Download
            </a>
            <small>Uploaded at: {{ document.uploaded_at }}</small>
            <!-- {% if document.is_public and document.user == request.user %}
                <a href="{% url 'edit_document' document.id %}">Edit</a>
            {% endif %} -->
        </div>
    </div>
    {% endfor %}

    <h3>Private Documents:</h3>
    {% for document in private_documents %}
    <div class="roomListRoom">
        <div class="roomListRoom__header">
            <a href="{% url 'user-profile' document.user.id %}" class="roomListRoom__author">
                <div class="avatar avatar--small">
                    <img src="{% static 'images\avatar.svg' %}" />
                </div>
                <span>@{{ document.user.username }}</span>
            </a>
            <div class="roomListRoom__actions">
                <span>{{ document.uploaded_at|timesince }}</span>
            </div>
        </div>
        <div class="roomListRoom__content">
            <a href="{{ document.file.url }}" target="_blank" download="{{ document.file.name }}">
                {{ document.file.name }}
            </a>
            <p>{{ document.description }}</p>
        </div>
        <div class="roomListRoom__meta">
            <a href="{{ document.file.url }}" class="roomListRoom__joined">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                    <title>file</title>
                    <!-- Add the appropriate path for the file icon here -->
                </svg>
                Download
            </a>
            <small>Uploaded at: {{ document.uploaded_at }}</small>
        </div>
    </div>
    {% endfor %}

    {% if not public_documents and not private_documents %}
    <p>No documents available.</p>
    {% endif %}

</div>
{% endblock %}
